menu "WIFI CONNECT..."

    config WIFI_SSID
        string "SSID"
        default "Estidamah CR"
    
    config WIFI_PASSWORD
        string "PASSWORD"
        default "SI-CRoom4"  

   

    config SOS_INIT_WIFI_SSID
        string "WiFi SSID"
        default "SOS"
        help
            SSID (network name) to connect to.
    config SOS_INIT_WIFI_PASS
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) to use.

    config SOS_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 5
        help
            WiFi channel (network channel) to use.

    config SOS_MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        help
            Max number of the STA connects to AP.        
endmenu